<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <nav>
    <h2>Alivio</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/solutions">Solutions</a></li>
      <li><a href="/community">Community</a></li>
    </ul>
    <section>
      <ul>
        <li><a href="">Sign in</a></li>
        <li><a href="" class="start-button">Start Trial</a></li>
      </ul>
    </section>
  </nav>
  <header>
    <h1>Be aware, Manage well.</h1>
    <p>Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to
      overcome your stress.</p>
    <a class="start-button" href="">Find Your Way</a>
  </header>
  <main>
    <section id="community">
      <div>
        <img src="/communityFoto.png" alt="">
      </div>
      <div>
        <span>Our Product</span>
        <h2>You tell us your stress, We make your diary</h2>
        <p>Everyone experiences it, and in different ways. Let Alivio guide you, in a personalized journal experience,
          to overcome your stress.</p>
        <a class="start-button" href="">Find Your Way</a>
      </div>
    </section>
  </main>
  <footer>
    <h3>Alivio</h3>
    <ul>
      <li><a href="/">Why Alivio</a></li>
      <li><a href="/solutions">Solutions</a></li>
      <li><a href="/community">Community</a></li>
      <li><a href="">Pricing</a></li>
    </ul>
  </footer>
</body>

</html>
